﻿.ratingStar {
    font-size: 0pt;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url('../img/star/waitingStar.png');
}

.emptyRatingStar {
    background-image: url('../img/star/emptyStar.png');
}

.savedRatingStar {
    background-image: url('../img/star/filledStar.png');
}
